<h3>{{ titleProject }} est financé !</h3>

Salut {{ firstName }}, grace à toi à nos autres utlisateurs le projet {{ titleProject }} a finalement été entièrement financé !

Nous t'invitons à contacter nos équipes si tu as des questions et à te rendre sur notre <a href="">site</a> investir sur de nouveaux projets ambitieux !

L'Equipe ANAXAGO